a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a:hover {
  text-decoration: none;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  text-align: center;
  padding: 5px 3px 10px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  max-width: 98.5%;
  width: auto;
  margin: 0;
  padding: 0;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a:hover {
  color: #FFCD11;
}
body,
a,
li,
div,
p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
.btn-space {
  margin-top: 50px;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #FFCD11;
  background: #212A32;
  box-shadow: none;
  outline-color: none;
}
.btn-primary {
  background: #212A32;
  text-transform: uppercase;
  border: 0;
  padding: 5px 20px;
  border-radius: 0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #FFCD11;
  background: #212A32;
  box-shadow: none;
}
.btn-default {
  background: transparent;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 0;
  color: #fff;
}
.btn-default:hover {
  color: #FFCD11;
  background: #212A32;
  border-color: #212A32;
}
.pd60 {
  padding: 65px 0;
}
.border-text {
  color: #bcbcbc;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #bcbcbc;
  font-size: 90px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.border-text-white {
  -webkit-text-fill-color: white;
}
.border-text-black {
  -webkit-text-fill-color: #212A32;
}
.border-text-gray {
  -webkit-text-fill-color: #f1f1f1;
}
.title-white,
.title-black {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 20px;
}
.title-white {
  color: #fff;
}
.title-black {
  color: #000;
}
.heading-style {
  position: relative;
}
.heading-style h1 {
  position: relative;
}
.heading-style h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.inner-banner {
  padding: 150px 0;
  position: relative;
}
.inner-banner .banner-overlay {
  position: absolute;
  background: linear-gradient(90deg,#212a32 0%,rgba(255,205,17,0.10997902579) 35%);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.menu-toggle {
  background: #f1f1f1;
  border-radius: 5px;
  padding: 10px 10px 10px 15px !important;
  margin-left: 15px;
}
header {
  background: #212A32;
}
header .logo-bg {
  position: relative;
}
header .logo-bg:before {
  content: '';
  position: absolute;
  background: #FFCD11;
  right: 0;
  width: 999em;
  height: 100%;
  transform: skewX(-35deg);
}
header .logo-bg img {
  position: relative;
  z-index: 1;
}
header .stellarnav ul {
  text-align: right;
}
header .stellarnav ul li a {
  padding: 0 15px;
  color: #fff;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
header .stellarnav ul li:hover a {
  color: #FFCD11;
}
header .stellarnav ul li.current-menu-item a,
header .stellarnav ul li.current-menu-parent a {
  color: #FFCD11;
}
header .stellarnav ul.sub-menu {
  margin-top: 10px;
  background: transparent;
}
header .stellarnav ul.sub-menu li {
  padding: 10px 0;
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
}
header .stellarnav ul.sub-menu li a {
  font-size: 16px;
  color: #212A32;
}
.stellarnav.mobile ul {
  background: #212A32;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.hm-banner span.text-yellow {
  color: #FFCD11;
}
.hm-ab .ab-img img {
  width: 84.5%;
  position: relative;
  top: -47px;
}
.hm-ab .ab-content {
  margin-top: 20px;
}
.hm-ab .ab-content strong {
  color: #FFCD11;
}
.hm-ab .ab-content p {
  font-size: 18px;
}
.hm-service {
  padding-bottom: 60px;
}
.hm-service .service-bg {
  background: #212A32;
  height: 400px;
}
.hm-service .services {
  position: relative;
  margin-top: -205px;
}
.hm-service .service-box a {
  color: #212A32;
}
.hm-service .service-box h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.hm-service .service-box h3:hover {
  color: #FFCD11;
}
.hm-service .service-box .service-inner-box {
  position: relative;
}
.hm-service .service-box .service-inner-box img {
  width: 100%;
  border-radius: 20px;
}
.hm-service .service-box .service-inner-box .s-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#f2c906cc 0%,#f28705de 100%);
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.hm-service .service-box .service-inner-box .s-overlay .overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
  padding: 15px;
}
.hm-service .service-box .service-inner-box .s-overlay .overlay-box img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  padding: 11px;
  margin-bottom: 20px;
}
.hm-service .service-box .service-inner-box .s-overlay .overlay-box p {
  color: #fff;
}
.hm-service .service-box .service-inner-box .s-overlay .overlay-box a {
  font-weight: 600;
  text-decoration: underline;
}
.hm-service .service-box .service-inner-box:hover .s-overlay {
  opacity: 1;
}
.hm-product {
  background: #f1f1f1;
}
.hm-product .products {
  position: relative;
  margin-top: 30px;
}
.hm-product .products .card {
  background: transparent;
  border: 0;
}
.hm-product .products .product-box {
  position: relative;
  overflow: hidden;
}
.hm-product .products .product-box img {
  width: 100%;
  transform: scale(1);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.hm-product .products .product-box:hover img {
  transform: scale(1.1);
}
.hm-product .products .product-box:hover .p-content {
  background: linear-gradient(180deg,#F2C906 0%,#F28705 100%);
}
.hm-product .products .product-box:hover .p-content h4 {
  color: #fff;
}
.hm-product .products .product-box:hover .p-content a {
  color: #212A32;
}
.hm-product .products .product-box:hover .p-content .border-line:before,
.hm-product .products .product-box:hover .p-content .border-line:after {
  border-bottom-color: #fff;
}
.hm-product .products .product-box .card-body {
  padding: 0;
  background: none;
}
.hm-product .products .p-content {
  background: #fff;
  position: relative;
  margin-top: -30px;
  padding: 30px 20px;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 193px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.hm-product .products .p-content span.badge {
  padding: 5px 20px;
  border-radius: 30px;
  background: #212A32;
  color: #fff;
  position: absolute;
  top: -12px;
  font-size: 14px;
  font-weight: 400;
}
.hm-product .products .p-content h4 {
  font-size: 20px;
  font-weight: 700;
  color: #535B60;
}
.hm-product .products .p-content .border-line {
  position: relative;
  margin-top: 30px;
  margin-bottom: 60px;
}
.hm-product .products .p-content .border-line:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 2px dashed #d1d1d1;
}
.hm-product .products .p-content .border-line:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  border-bottom: 2px dashed #d1d1d1;
}
.hm-product .products .p-content a {
  color: #FFCD11;
  font-weight: 600;
}
.hm-product .products .product-prev {
  left: -70px;
  right: auto;
  color: #73848E;
}
.hm-product .products .product-next {
  right: -70px;
  left: auto;
  color: #73848E;
}
.hm-product .products .swiper-slide {
  margin-bottom: 10px;
}
.hm-product .btn-space {
  margin-top: 40px;
}
.hm-news {
  position: relative;
  padding-top: 65px;
}
.hm-news .btn-space {
  margin-top: 30px;
}
.hm-news .border-text {
  text-align: left;
}
.hm-news .heading-style h2 {
  left: 15px;
  transform: translate(0,-50%);
}
.hm-news .news {
  margin-top: 50px;
  margin-bottom: 50px;
}
.hm-news .news-col {
  padding-left: 3px;
  padding-right: 3px;
}
.hm-news .news-box {
  background: #f1f1f1;
  padding: 60px 40px;
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.hm-news .news-box a {
  color: #212A32;
}
.hm-news .news-box p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
}
.hm-news .news-box .date {
  margin-top: 70px;
}
.hm-news .news-box .date span {
  font-family: 'Noto Sans', sans-serif;
  font-size: 11px;
  font-weight: 500;
}
.hm-news .news-box .news-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.hm-news .news-box .news-overlay:after {
  content: '';
  position: absolute;
  background: #000000ad;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.hm-news .news-box .news-overlay .n-inner-overlay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 60px 40px 0 40px;
}
.hm-news .news-box:hover p {
  position: relative;
  z-index: 1;
  color: #fff;
}
.hm-news .news-box:hover .date span {
  position: relative;
  z-index: 1;
  color: #FFCD11;
}
.hm-news .news-box:hover .news-overlay {
  opacity: 1;
}
.hm-news .news-box:hover .news-overlay:after {
  opacity: 1;
}
.hm-news .best-service {
  position: relative;
  background: linear-gradient(180deg,#F2C906 0%,#F28705 100%);
  padding: 50px 60px;
  border-radius: 15px;
  bottom: -25px;
}
.hm-news .best-service h4 {
  color: #fff;
  font-size: 26px;
  width: 340px;
  line-height: 34px;
}
.hm-news .best-service img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -130px;
}
.ab-pg {
  padding-bottom: 0;
}
.our-goal {
  margin-top: 30px;
}
.our-goal .ab-obj {
  background: #f1f1f1;
  padding: 50px;
  position: relative;
  text-align: center;
  min-height: 250px;
  border-radius: 10px;
}
.our-goal .ab-obj h3 {
  font-size: 25px;
}
.obj-bg {
  background: url(/wp-content/uploads/2021/03/Crane-Pendant-Stations.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  margin-top: 50px;
  padding: 50px 0;
}
.obj-bg .ab-message {
  background: #000000b0;
  padding: 50px;
}
.obj-bg .ab-message h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #FFCD11;
}
.obj-bg .ab-message p {
  color: #fff;
}
.obj-bg .ab-message a {
  transition: all 0.4s;
  color: #FFCD11;
}
.obj-bg .ab-message a:hover {
  color: #fff;
}
.obj-bg .ab-message img.founder {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 100%;
}
.list-news .inner-news-box {
  position: relative;
}
.list-news .inner-news-box .news-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: #000000ad;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.list-news .inner-news-box:hover .news-overlay {
  opacity: 1;
}
.list-news .news-box {
  margin-bottom: 30px;
  padding: 60px 40px;
}
.list-news .news-box:after {
  content: '';
  position: absolute;
  background: #00000057;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.list-news .news-box a {
  position: relative;
  z-index: 1;
  color: #fff;
}
.list-news .news-box .date {
  margin-top: 70px;
  position: relative;
  z-index: 1;
}
.list-news .hm-news {
  padding-top: 20px;
}
.single-news img {
  border: 1px solid #d1d1d1;
  border-radius: 15px;
}
.single-news .n-date {
  margin-top: 30px;
  background: #212A32;
  display: inline-block;
  padding: 5px 20px;
}
.single-news .n-date span {
  color: #FFCD11;
}
.single-news .news-content {
  margin-top: 20px;
}
.product-list .products {
  margin-top: 30px;
}
.product-list .product-box {
  margin-bottom: 30px;
}
.single-product .title-black,
.single-service .title-black {
  text-transform: uppercase;
  margin-bottom: 0;
}
.single-product hr,
.single-service hr {
  border-color: #212A32;
  margin: 10px 0;
  border-style: dashed;
}
.single-product #breadcrumbs,
.single-service #breadcrumbs {
  margin-bottom: 30px;
}
.single-product #breadcrumbs span,
.single-product #breadcrumbs a,
.single-service #breadcrumbs span,
.single-service #breadcrumbs a {
  color: #212A32;
}
.single-product .p-specific h3.title-black {
  font-size: 25px;
  position: relative;
  margin-bottom: 30px;
}
.single-product .p-specific h3.title-black:before {
  content: '';
  width: 50px;
  border-bottom: 3px solid #FFCD11;
  position: absolute;
  bottom: -7px;
}
.single-product .p-specific table {
  box-shadow: 1px 2px 2px 0 #ddd;
}
.single-product .p-specific table td {
  font-size: 14px;
}
.single-product .p-description {
  margin-top: 50px;
}
.single-product .p-description .nav-tabs {
  border: 0;
}
.single-product .p-description .nav-tabs .nav-item {
  margin-bottom: 0;
}
.single-product .p-description .nav-tabs .nav-link {
  background: #f1f1f1;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  color: #212A32;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
}
.single-product .p-description .nav-tabs .nav-link:after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0px;
  width: 20px;
  height: 100%;
  transform: skewX(25deg);
  background-color: #f1f1f1;
}
.single-product .p-description .tab-content {
  padding: 30px 20px 20px 20px;
  border: 1px solid #dee2e6;
  box-shadow: 1px 2px 2px 0 #ddd;
}
.single-product .p-description .tab-content ul,
.single-product .p-description .tab-content ol {
  padding-left: 20px;
}
.single-product .p-description .tab-content li {
  margin-bottom: 10px;
}
.single-product .p-description .nav-tabs .nav-item.show .nav-link,
.single-product .p-description .nav-tabs .nav-link.active {
  background: #FFCD11;
}
.single-product .p-description .nav-tabs .nav-item.show .nav-link:after,
.single-product .p-description .nav-tabs .nav-link.active:after {
  background: #FFCD11;
}
.single-product .p-gallery .swiper-button-next,
.single-product .p-gallery .swiper-button-prev {
  color: #FFCD11;
}
.service-list .services {
  margin-top: 30px;
}
.service-list .service-box {
  margin-bottom: 40px;
}
.scontent .services {
  margin-top: 40px;
}
.scontent .service-gp {
  margin-bottom: 40px;
}
.scontent .service-gp img {
  border-radius: 15px;
}
.service-sidebar,
.contact-sidebar {
  background: #eee;
}
.service-sidebar h3,
.contact-sidebar h3 {
  background: #FFCD11;
  padding: 10px 15px;
  font-size: 20px;
  text-transform: uppercase;
}
.service-sidebar ul {
  padding: 10px 20px 30px 35px;
}
.service-sidebar ul li {
  border-bottom: 1px dashed #fff;
  padding-bottom: 15px;
  padding-top: 15px;
}
.service-sidebar ul li a {
  color: #212A32;
  font-size: 14px;
}
.service-sidebar ul li a:hover {
  color: #FFCD11;
}
.contact-sidebar {
  margin-top: 30px;
  padding-bottom: 20px;
}
.contact-sidebar h3 {
  margin-bottom: 20px;
}
.contact-sidebar .media,
.contact-info .media {
  padding: 10px 20px;
}
.contact-sidebar .media i,
.contact-info .media i {
  margin-top: 4px;
  margin-right: 10px;
}
.contact-sidebar .media-body,
.contact-info .media-body {
  font-size: 14px;
}
.contact-sidebar .media-body a,
.contact-info .media-body a {
  color: #212A32;
}
.contact-sidebar .media-body a:hover,
.contact-info .media-body a:hover {
  color: #FFCD11;
}
.contact-pg .border-text {
  margin-bottom: 30px;
}
.contact-info,
.contact-message {
  border: 1px solid #bcbcbc;
  padding: 30px;
  border-radius: 15px;
}
footer {
  background: #212A32;
  padding-top: 85px;
  padding-bottom: 64px;
}
footer h3 {
  margin-bottom: 30px;
}
footer h3,
footer p,
footer a {
  color: #fff;
}
footer ul {
  padding-left: 0;
}
footer ul li {
  margin-bottom: 17px;
  list-style-type: none;
  position: relative;
  margin-left: 18px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
footer ul li:before {
  content: '';
  border: 1px dashed #fff;
  position: absolute;
  width: 11px;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
}
footer ul li:hover a {
  color: #FFCD11;
}
footer ul li:hover:before {
  border-color: #FFCD11;
}
.copyright {
  background: linear-gradient(180deg,#F2C906 0%,#F28705 100%);
  padding-top: 15px;
}
.copyright span {
  font-weight: 600;
}
.copyright ul {
  text-align: right;
}
.copyright ul li {
  list-style-type: none;
  display: inline-block;
}
.copyright ul li a {
  color: #212A32;
  border-right: 2px solid #212A32;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}
.copyright ul li:last-child a {
  border-right: 0;
  padding-right: 0;
}
.copyright p {
  margin-bottom: 0;
}
.copyright a {
  font-size: 14px;
  color: #212A32;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.copyright .service-owner-logo {
  width: 46px;
  margin-left: 7px;
}
@media (max-width: 1199.98px) {
  header .stellarnav ul li a {
    padding: 0 14px;
  }
  .border-text {
    font-size: 80px;
  }
  .obj-bg {
    margin-top: 50px;
  }
  .our-goal .ab-obj {
    padding: 30px;
  }
}
@media (max-width: 991.98px) {
  .hm-ab .ab-img {
    margin-top: 20px;
  }
  .hm-ab .ab-img img {
    width: 100%;
    top: 0;
  }
  .hm-ab .ab-content p {
    font-size: 16px;
  }
  .title-white,
  .title-black {
    font-size: 37px;
  }
  .border-text {
    font-size: 63px;
  }
  .hm-service .service-box {
    margin-bottom: 30px;
  }
  .news-box {
    margin-bottom: 5px;
  }
  .hm-news .best-service {
    padding: 40px;
  }
  .hm-news .best-service h4 {
    margin-bottom: 20px;
  }
  .hm-news .btn-space {
    margin-top: 20px;
  }
  .single-product .title-black,
  .single-service .title-black {
    font-size: 30px;
  }
  .contact-message {
    margin-top: 50px;
  }
  .copyright ul li a {
    padding-left: 7px;
    padding-right: 7px;
  }
  .p-specific {
    margin-top: 30px;
  }
  .our-goal .ab-obj {
    margin-top: 30px;
  }
  .ab-message img.founder {
    width: 450px !important;
    height: auto;
    margin: 0 auto 30px auto;
    display: block;
  }
}
@media (max-width: 767.98px) {
  .border-text {
    font-size: 45px;
  }
  .title-white,
  .title-black {
    font-size: 23px;
  }
  .hm-news .best-service img {
    top: 60%;
    transform: translateY(-60%);
    right: -90px;
    width: 250px;
  }
  .hm-news .btn-space {
    margin-top: 10px;
  }
  .hm-product .products .p-content h4 {
    min-height: 0;
  }
  .copyright {
    text-align: center;
  }
  .copyright ul {
    text-align: center;
  }
  .ab-pg .title-black {
    font-size: 30px;
  }
}
@media (max-width: 575.98px) {
  body,
  p,
  a,
  div,
  li,
  td {
    font-size: 15px;
  }
  .pd60 {
    padding: 50px 0;
  }
  .border-text {
    font-size: 40px;
  }
  .hm-product .btn-space {
    margin-top: 40px;
  }
  .hm-news .best-service {
    text-align: center;
  }
  .hm-news .best-service h4 {
    width: auto;
    font-size: 22px;
  }
  .hm-news .btn-space {
    margin-top: 40px;
  }
  .hm-service .service-bg {
    height: 370px;
  }
  .hm-service .btn-space {
    margin-top: 20px;
  }
  .ab-pg {
    padding-bottom: 150px;
  }
  .ab-pg .title-black {
    font-size: 23px;
  }
  .menu-toggle {
    margin-left: 0;
  }
  .inner-banner {
    padding: 80px 0;
  }
  .single-product .title-black,
  .single-service .title-black {
    font-size: 25px;
  }
}
@media (max-width: 413.98px) {
  .border-text {
    font-size: 35px;
  }
  .news-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .heading-style h2 {
    display: none;
  }
  .hm-service .service-bg {
    height: 300px;
  }
  .hm-service .services {
    margin-top: -160px;
  }
  .hm-service .service-box h3 {
    font-size: 17px;
  }
  .hm-news .news-box {
    padding: 40px;
  }
}
@media (max-width: 374.98px) {
  .border-text {
    font-size: 28px;
  }
  .hm-service .service-bg {
    height: 250px;
  }
  .hm-service .services {
    margin-top: -110px;
  }
  .hm-service .service-box h3 {
    font-size: 16px;
  }
}
